* {
    background-color: rgba(209, 78, 99, 0.644);
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#date {
    position: absolute;
    text-align: center;
    font-size: 2.7rem;
    color: white;
    bottom: 0px;
    animation-name: date;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}


@keyframes date {
    from {left: 0rem;}
    to {left: 100rem}
}
