* {
    background-color: rgba(209, 78, 99, 0.644);
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.message {
    text-align: center;
    font-size: 4rem;
    color: white;
}
